.homepage {
  display: flex;
  flex-direction: column;

  .section {
    display: flex;
    flex-direction: column;
    margin: 20px 50px;

    @media (max-width: 780px) {
      margin: 20px 10px;
    }

    .section-heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 30px;
      font-weight: bolder;
      padding: 30px;

      @media (max-width: 620px) {
        padding: 10px;
      }

      a {
        text-decoration: none;
        color: black;
      }

      .heading {
        cursor: pointer;

        &:hover {
          color: #3b7d72;
        }
      }
    }

    .section-content {
      margin: 10px 30px;

      @media (max-width: 780px) {
        margin: 10px 5px;
      }
    }

    .section-action {
      display: flex;
      justify-content: center;
      margin: 50px 0px 10px 0px;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
