.counter-content {
  height: 100%;
  width: 100%;
  .counter-tag {
    height: 20%;
    font-weight: bold;
    padding: 5px;
  }
  .counter-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    font-size: 40px;
    font-weight: bold;

    @media (max-width: 880px) {
      font-size: 35px;
    }
  }
}
