.slider {
  width: 100%;
  overflow: hidden;
  max-height: 90vh;

  .each-slide {
    img {
      width: 100%;
      max-height: 90vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
